
@font-face {
  font-family:"Alegreya-Regular";
   src: url("../resources/fonts/Alegreya-Regular.ttf");
   font-weight: 400;
   font-style: normal;
  }

@font-face {
 font-family:"Alegreya-Bold";
  src: url("../resources/fonts/Alegreya-Bold.TTF");
  font-weight: 600;
  font-style: normal; }

@font-face{
    font-family:"PlayfairDisplay-Bold";
    src:url("../resources/fonts/PlayfairDisplay-Bold.TTF");
    font-weight: 600;
    font-style:normal;
}

@font-face{
    font-family:"ProximaNova-Regular";
    src:url("../resources/fonts/ProximaNova-Regular.TTF");
    font-weight: 400;
    font-style:normal;
}


@font-face{
    font-family:"Scriptina";
    src:url("../resources/fonts/SCRIPTIN.TTF");
    font-weight: 400;
    font-style:normal;
}
