body {
  max-width: 1600px;
  margin: 0 auto;
  color: #56534c;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "Proxima Nova";
}
a {
  text-decoration: none;
  color: inherit;
}
ul {list-style: none;}
h2 {
  margin: 0;
}
.flex {
  display: flex;
}
.container {
  padding-left: 170px;
  padding-right: 170px;
}

.page-1  {
  background: url(../resources/images/bg-page-1.png)no-repeat;
	background-size: cover;
  min-height: 900px;

  &-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 135px;
 }

 &-text {
   font-size: 24px;
   letter-spacing: 0.1em;
   line-height: 36px;
   color: #fff;
   padding-bottom: 40px;
   text-align: center;
 }
}
.nav {
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;

  &-logo {
    font-family: Scriptina;
    font-size: 30px;
    letter-spacing: 0.3em;
  }

  &__menu {
    justify-content: space-around;
    align-items: center;
    width: 770px;
    font-family: "Alegreya-Regular";

    &__item {
      font-family: "Alegreya-Regular";
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }
  }
}
.social-icon {
  padding-right: 10px;
  padding-left: 20px;

  & img {
    padding-right: 15px;
  }
}
.sprites {
  background: url(../resources/images/sprites-1.png) no-repeat;
  display: inline-block;
 }
.icon-fb {
  width: 25px;
  height: 25px;
  background-position: 0 0;
}
.icon-inst {
  width: 24px;
  height: 25px;
  background-position: 0 -27px;
}
.icon-twitter {
  width: 25px;
  height: 25px;
  background-position: 0 -50px;
}
h1 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 92px;
  letter-spacing: 0.075em;
  color: #fff;
  padding-bottom: 45px;
}
.btn-menu {
  background-color: rgba(86, 83, 76, 0.53);
  border: 1px dashed rgba(255,255,255,0.53);
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family:"Alegreya-Bold";
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 24px;
  color: #fff;
}
.page-2  {
  background: url(../resources/images/bg-page-2.png)no-repeat;
	background-size: cover;
  position: relative;
  min-height: 760px;

  &-content {
  justify-content: center;
  padding-top: 90px;
 }

 &-right-col {
   max-width: 630px;
   box-sizing: border-box;
   flex-direction: column;
   justify-content: flex-start;
   padding-right: 35px;
   padding-top: 20px;
   padding-left: 45px;
 }

  &-left-col {
    box-sizing: border-box;
    max-width: 630px;
    padding-left: 10px;
  }
}
.page-header {
  font-size: 48px;
  font-family: "Alegreya";
  color: rgb(86, 83, 76);
  font-weight: bold;
  line-height: 0.625;
  text-align: center;
}
.page-subheader {
  padding-top: 10px;
  font-family: "Alegreya";
  color: #a47d5e;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.625;
  letter-spacing: 0.1em;
  text-align: center;
}
.page-content__text {
  padding-top: 35px;
  color: rgb(86, 83, 76);
  line-height: 1.714;
  text-align: center;
}

.chef {
  &-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  &__text {
    font-size: 24px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.025em;

    p {
      margin: 15px;
    }

  }
  &__header {
    font-weight: bold;
    padding-bottom: 15px;
  }

  &-name {
    justify-content: space-around;
    align-items: center;
  }

  &__content {
    box-sizing: border-box;
    border-top: 1px solid rgb(215, 213, 202);
    border-bottom: 1px solid rgb(215, 213, 202);
    width: 110px;
    margin: 20px 15px;
  }

  &__quote {
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 24px;
    font-family: "Scriptina";
    color: rgb(164, 125, 94);
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.025em;


    &::before {
      content: "\201C";
      position: absolute;
      top: 0;
      left: 5px;
      font-family: "Times New Roman";
      font-size: 60px;
      color: rgba(86, 83, 76, 0.502);
      line-height: 0.5;
    }

    &::after {
      content: "\201D";
      position: absolute;
      bottom:-40px;
      right: 0;
      font-family: "Times New Roman";
      font-size: 60px;
      color: rgba(86, 83, 76, 0.502);
      line-height: 0.5;
    }

  }
}

.avatar {
  border: 5px solid #fff;
  border-radius: 100%;
}
 .group-img {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-top: 30px;

   &__item {
     outline: 5px solid #fff;
     outline-offset: -10px;
     margin-bottom: 20px;
   }

   &__text{
     position: absolute;
     width: 245px;
     height: 245px;
     top: calc(50% - 122px);
     left:calc(50% - 122px);
     background: url(../resources/images/page2-bg-small-1.png)no-repeat;
     background-size: cover;
     box-sizing: border-box;
     font-family: "Alegreya-Regular";
     text-transform: uppercase;
     text-align: center;
     padding-top: 60px;;
     font-size: 30px;
     line-height: 1.2;
     letter-spacing: 0.05em;
     color: #c9b176;
    //  box-shadow: 0px 14px 18px 0px rgba(59, 37, 29, 1);
    }
 }

 .page-3  {
   background: url(../resources/images/bg-page-3.png)no-repeat;
 	 background-size: cover;
  //  min-height: 900px;
   padding-top: 140px;
   padding-bottom: 105px;

   &__content {
       position: relative;
     max-width: 965px;
     margin-left: 90px;
     justify-content: flex-start;
     box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.33), 0px 25px 54px 0px rgba(105, 80, 58, 0.45),3px 5.196px 13px 0px rgba(0, 0, 0, 0.47);

//to do shadow
     &::before {
       content: "";
       position: absolute;
       bottom: 0%;
       left: 0%;
       width: 0px;
       height: 0px;
       border-top: 50px solid #eee;
       border-left: 50px solid transparent;
       box-shadow: 3px 5.196px 13px 0px rgba(0, 0, 0, 0.47);
       background-image: -webkit-linear-gradient( 45deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
       z-index: 147;
     }
    //  &::after {
    //    content: "";
    //    position: absolute;
    //    bottom: 0%;
    //    left: 0%;
    //    width: 0px;
    //    height: 0px;
    //    border-top: 50px solid #eee;
    //    border-left: 50px solid transparent;
    //    box-shadow: 3px 5.196px 13px 0px rgba(0, 0, 0, 0.47);
    //    background-image: -webkit-linear-gradient( 45deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    //    z-index: 147;
    //  }
  }

  // .fold {
  //   background-image: -moz-linear-gradient( 45deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
  //   background-image: -webkit-linear-gradient( 45deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
  //   background-image: -ms-linear-gradient( 45deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
  //   box-shadow: 3px 5.196px 13px 0px rgba(0, 0, 0, 0.47);
  //   position: absolute;
  //   left: 265px;
  //   top: 2262px;
  //   width: 50px;
  //   height: 50px;
  //   z-index: 147;
  // }


  &-right-col {
    position: relative;
    height: 100%;
    max-width: 420px;
    box-shadow: 3px 5.196px 13px 0px rgba(0, 0, 0, 0.47);
  }

  &-left-col {
    background: url(../resources/images/page3-bg-widget-sm.png)no-repeat;
    position: relative;
    flex-direction: column;
    min-height: 100%;
    max-width: 545px;
    padding-left: 65px;
    padding-top: 85px;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.16);
  }

  .page-content__text {
    text-align: left;
    padding-right: 120px;

  }
  .page-header,
  .page-subheader {text-align: left}
 }

 .ready-in {
  background: url(../resources/images/page3-bg-ready.png)no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -45px;
  right: -105px;
  box-shadow: 0px 25px 54px 0px rgba(105, 80, 58, 0.45);

   &__text {
     font-size: 18px;
     font-family: "Alegreya";
     color: rgb(164, 125, 94);
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
     padding-top: 15px;
     box-sizing: border-box;

       p:nth-child(3) {
       text-transform: lowercase;
       color: #979285;
    }
  }
  &__time-big {
    font-size: 92px;
    line-height: 0.7em;
    color: #dfc691;
    margin-top: 0;
    margin-bottom: 0;
  }

 }
 .menu {
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: #fff;
   top: 230px;
   left: -20px;
   border-radius: 100%;
   box-sizing: border-box;
   padding-top: 8px;
   padding-left: 5px;
   box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.14);
 }


.page-4  {
   background: url(../resources/images/bg-page-4.png)no-repeat;
   background-size: cover;
   padding-top: 85px;

   &__content {
     justify-content: flex-start;
     padding-left: 195px;
     position: relative;
  }

  &-header {
  font-size: 60px;
  font-family: "Alegreya";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.5;
  text-align: center;
  }
  &-subheader {
  font-size: 18px;
  font-family: "Alegreya";
  color: #c8a593;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  }

  &-left-col {
    min-width: 320px;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

    &__header {
      font-size: 30px;
    font-family: "Alegreya";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    }

    &__text {
      color: #c2beba;
      font-size: 16px;
      letter-spacing: 0.05em;
    }

    &__price {
      font-size: 36px;
      font-family: "Alegreya";
      color: #dfc691;
      letter-spacing: 0.05em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &-right-col {
    background: url(../resources/images/page4-bg-right.png)no-repeat;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    padding-bottom: 70px;
    margin-bottom: 75px;
    margin-left: 305px;
    margin-top: 5px;
    z-index: 100;

    &__head {
      font-size: 14px;
      font-family: "Alegreya";
      color: rgb(86, 83, 76);
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      padding-top: 40px;

      p {
        width: 50%;
        text-align: center;
      }
    }
    &__text {
      color: rgb(86, 83, 76);
      line-height: 2.143;
      letter-spacing: 0.05em;
      padding-left: 40px;
      padding-right: 55px;
      text-align: center;
      padding-bottom: 30px;
    }
  }

  &__menu-1 {
    background: url(../resources/images/page4-bg-menu-1.png)no-repeat;
    background-size: cover;
    min-width: 400px;
    height: 553px;
    position: absolute;
    z-index:10;
    right: -15px;
    top: 28px;
    box-shadow: 17px 0px 16px 0px rgba(0, 0, 0, 0.3);
  }
  &__menu-2 {
    background: url(../resources/images/page4-bg-menu-2.png)no-repeat;
    background-size: cover;
    min-width: 400px;
    height: 503px;
    position: absolute;
    z-index: 1;
    right: -29px;
    top: 50px;
  }
}

.head-icon {
  position: absolute;
  left: 194px;
  top: 96px;
}
h3 {
  font-size: 44px;
  font-family: "Alegreya";
  color: rgb(86, 83, 76);
  font-weight: bold;
  line-height: 1.364;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  }
.btn-read {
  width: 190px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(86, 83, 76, 0.4);

  a {
    display: flex;
    width: 190px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Alegreya";
    color: rgb(164, 125, 94);
    font-weight: bold;
    line-height: 1.667;
    text-transform: uppercase;
  }
}

.page-5 {
  background: url(../resources/images/bg-page-5.png)no-repeat;
  background-size: cover;
  padding-top: 105px;

  &-left-col {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin-top: -15px;

    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }

    &__img {
      width: 100px;
      border-radius: 100%;
    }

    &__header {
      font-size: 30px;
      font-family: "Alegreya";
      color: rgb(164, 125, 94);
      font-weight: bold;
      line-height: 1;
      letter-spacing: 0.025em;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__text {
      text-align: center;
    }
  }

  &-right-col {
    max-width: 840px;
    position: relative;
    box-sizing: border-box;
    padding-left: 130px;
    padding-top: 85px;

    &-img {
    outline: 10px solid #fff;
    box-sizing: border-box;
    max-width: 820px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.54);
    }
  }
  // .ready-in {
  //   top: initial;
  //   right: initial;
  // }

}
.ready-in__block {
  position: absolute;
  top: 55px;
  right: -110px;
}
.ready-in__time-sm {
  font-size: 60px;
  color: #56534c;
  line-height: 0.7em;
  margin-top: 0;
  margin-bottom: 0;
}

.recipe-inform {
  width: 200px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 2px;

  &:last-child {
    background: url(../resources/images/page3-bg-ready.png)no-repeat;
  }
}
.btn-recipe {
  position: absolute;
  left: 100px;
  bottom: 130px;

  a {
    display: flex;
    width: 170px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #dfc691;
    background-color: #fff;
    font-size: 18px;
    font-family: "Alegreya";
    color: #dfc691;
    font-weight: bold;
    line-height: 1.667;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
.footer {
  background: url(../resources/images/bg-footer.png)no-repeat;

  .nav {
    color: #56534c;

    &__menu {
      width: 550px;
      // background: url(../resources/images/bg-footer-menu.png)no-repeat;

    }
  }
}
// .line {
// border-top: 1px solid rgb(194, 190, 186);
//   box-shadow: 0px 35px 17.63px 25.37px rgba(0, 0, 0, 0.38);
//   // position: absolute;
//   // left: 170px;
//   // top: 4199px;
//   // width: 515px;
//   // height: 1px;
//   // z-index: 9;
// }
